@import 'tailwindcss';
@plugin "@tailwindcss/forms";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --toastify-color-progress-light: #ff2d55
    --toastify-color-progress-dark: #ff2d55;
    --toastify-color-progress-info: #ff2d55;
    --toastify-color-progress-success: #ff2d55;
    --toastify-color-progress-warning: #ff2d55;
    --toastify-color-progress-error: #ff2d55;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
